@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-geist-sans: 'GeistSans', sans-serif;
  --font-delicious-handrawn: 'Delicious Handrawn', cursive;
}

body {
  font-family: var(--font-montserrat);
  scroll-behavior: smooth;
}

.font-delicious {
  font-family: var(--font-delicious-handrawn);
}

body {
  font-style: normal;
  font-weight: 100;
}

.scrollContainer {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.scrollContent {
  display: flex;
  animation: scroll 10s linear infinite;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* styles.css */
.star {
  width: 50px; /* Adjust size of stars */
  height: 50px;
  margin: 10px;
  animation: rotate 10s steps(8) infinite;
  /* The 'steps(1)' ensures the animation occurs in discrete steps */
}

/* Clockwise rotation */
.rotate-clockwise {
  animation-direction: normal;
}

/* Counterclockwise rotation */
.rotate-counterclockwise {
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

